@import url('https://fonts.googleapis.com/css?family=Cairo');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cairo;
}

.hero {
    padding-bottom: 50px;
    &__categories {
        &__all {
            border: 1px solid #f0f0f0!important;
            cursor: pointer;
            .navbar {
                button {
                    color: #fff;
                    &:focus {
                        outline: none;
                    }
                }
                padding: .3rem 1rem !important;
                background: #7fad39;
                .navbar-brand {
                    font-size: 18px;
                    color: #fff;
                    margin-left: 5px;
                    font-weight: 700;
                }
            }
            .navbar-collapse {
                ul {
                    padding-left: 30px;
                    padding-top: 10px;
                    padding-bottom: 12px;
                    li {
                        .nav-link {
                            font-size: 16px;
                            color: #1c1c1c;
                            line-height: 39px;
                            display: block;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    &__search {
        margin-bottom: 30px;
        overflow: hidden;
        &__form {
            width: 610px;
            height: 50px;
            border: 1px solid #ebebeb;
            position: relative;
            float: left;
            button {
                position: absolute;
                right: 0;
                top: -1px;
                height: 50px;
                font-size: 14px;
                color: #fff;
                font-weight: 800;
                text-transform: uppercase;
                display: inline-block;
                padding: 13px 30px 12px;
                background: #7fad39;
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
        &__categories {
            width: 30%;
            float: left;
            font-size: 16px;
            color: #1c1c1c;
            font-weight: 700;
            padding-left: 18px;
            padding-top: 11px;
            position: relative;
            &::after {
                position: absolute;
                right: 0;
                top: 14px;
                height: 20px;
                width: 1px;
                background: #000;
                opacity: .1;
                content: "";
            }
            span {
                float: right;
                padding-right: 10px;
            }
        }
        input {
            outline: none;
            width: 70%;
            border: none;
            height: 48px;
            font-size: 16px;
            color: #b2b2b2;
            padding-left: 20px;
        }
        button {
            position: absolute;
            right: 0;
            top: -1px;
            height: 50px;
        }
        .site-btn {
            font-size: 14px;
            color: #ffffff;
            font-weight: 800;
            text-transform: uppercase;
            display: inline-block;
            padding: 13px 30px 12px;
            background: #7fad39;
            border: none;
        }
    }
    &__search__phone {
        float: right;
        &__icon {
            font-size: 18px;
            color: #7fad39;
            height: 50px;
            width: 50px;
            background: #f5f5f5;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            float: left;
            margin-right: 20px;
        }
        &__text {
            overflow: hidden;
            h5 {
                color: #1c1c1c;
                font-weight: 700;
                margin-bottom: 5px;
            }
            span {
                font-size: 14px;
                color: #6f6f6f;
            }
        }
    }
    &__item {
        position: relative;
        height: 431px;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
        }
        .hero__text {
            position: absolute;
            left: 60px;
            span {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4px;
                color: #7fad39;
            }
            h2 {
                font-size: 46px;
                color: #252525;
                line-height: 52px;
                font-weight: 700;
                margin: 10px 0;
            }
            p {
                margin-bottom: 35px;
            }
            a {
                display: inline-block;
                font-size: 14px;
                padding: 10px 28px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                background: #7fad39;
                letter-spacing: 2px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.categories {
    &__slider {
        position: relative;
        .item {
            margin: 0 15px;
        }
    }
    &__item {
        height: 270px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        h5 {
            position: absolute;
            left: 0;
            width: 100%;
            padding: 0 20px;
            bottom: 20px;
            text-align: center;
            a {
                font-size: 18px;
                color: #1c1c1c;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 12px 0 10px;
                background: #ffffff;
                display: block;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .set-bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .owl-carousel {
        .owl-nav {
            button {
                &:focus {
                    outline: none;
                }
                font-size: 18px;
                color: #1c1c1c;
                height: 70px;
                width: 30px;
                line-height: 70px;
                text-align: center;
                border: 1px solid #ebebeb !important;
                position: absolute;
                left: -35px;
                top: 40%;
                background: #ffffff !important;
                span {
                    font-size: 30px;
                }
            }
            .owl-next {
                left: auto;
                right: -35px;
            }
        }
    }
}

.featured {
    padding-top: 80px;
    padding-bottom: 40px;
    .section-title {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            color: #1c1c1c;
            font-weight: 700;
            position: relative;
            &::after {
                position: absolute;
                left: 0;
                bottom: -15px;
                right: 0;
                height: 4px;
                width: 80px;
                background: #7fad39;
                content: "";
                margin: 0 auto;
            }
        }
    }
    &__controls {
        text-align: center;
        margin-bottom: 50px;
        ul {
            li {
                list-style: none;
                font-size: 18px;
                color: #1c1c1c;
                display: inline-block;
                margin-right: 25px;
                position: relative;
                cursor: pointer;
            }
        }
    }
    &__filter {
        .col-lg-3 {
            display: none;
        }
        .show {
            display: block;
        }
        .featured__item {
            &__set__image {
                position: relative;
                overflow: hidden;
                height: 270px;
                background-position: center center;
                &:hover .featured__item__pic__hover {
                    left: 0;
                    bottom: 10px;
                    width: 100%;
                    transition: all 0.5s;
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
            &__pic__hover {
                position: absolute;
                left: 0;
                bottom: -70px;
                width: 100%;
                text-align: center;
                transition: all 0.5s;
                ul {
                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: 6px;
                        a {
                            font-size: 16px;
                            color: #1c1c1c;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            text-align: center;
                            border: 1px solid #ebebeb;
                            background: #ffffff;
                            display: block;
                            border-radius: 50%;
                            transition: all, 0.5s;
                            &:hover {
                                background: #7fad39;
                                color: #ffffff;
                            }
                        }
                        button {
                            font-size: 16px;
                            color: #1c1c1c;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            text-align: center;
                            border: 1px solid #ebebeb;
                            background: #ffffff;
                            display: block;
                            border-radius: 50%;
                            transition: all, 0.5s;
                            outline: none;
                            &:hover {
                                background: #7fad39;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            &__text {
                text-align: center;
                padding: 10px 0;
                h6 {
                    a {
                        color: #252525;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                h5 {
                    color: #252525;
                    font-weight: 700;
                }
            }
        }
    }
}

.banner {
    &__pic {
        img {
            width: 100%;
        }
    }
}

.latest-product {
    padding-top: 80px;
    padding-bottom: 0;
    &__text {
        h4 {
            font-weight: 700;
            color: #1c1c1c;
            margin-bottom: 45px;
        }
    }
    &__item {
        margin-bottom: 20px;
        overflow: hidden;
        display: block;
        &:hover {
            text-decoration: none;
        }
        &__pic {
            float: left;
            margin-right: 26px;
            img {
                height: 110px;
                width: 110px;
            }
        }
        &__text {
            overflow: hidden;
            padding-top: 10px;
            h6 {
                color: #252525;
                margin-bottom: 8px;
            }
            span {
                font-size: 18px;
                display: block;
                color: #252525;
                font-weight: 700;
            }
        }
    }
}

.blog {
    padding-top: 50px;
    padding-bottom: 50px;
    &-title {
        text-align: center;
        margin-bottom: 70px;
        h2 {
            color: #1c1c1c;
            font-weight: 700;
            position: relative;
            &::after {
                position: absolute;
                left: 0;
                bottom: -15px;
                right: 0;
                height: 4px;
                width: 80px;
                background: #7fad39;
                content: "";
                margin: 0 auto;
            }
        }
    }
    &_item {
        margin-bottom: 30px;
        &_pic {
            img {
                width: 100%;
            }
        }
        &_text {
            height: 150px;
            ul {
                margin: 15px 0;
                li {
                    font-size: 16px;
                    color: #b2b2b2;
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 15px;
                }
            }
            h5 {
                margin-bottom: 12px;
                a {
                    font-size: 20px;
                    color: #1c1c1c;
                    font-weight: 700;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            p {
                margin-bottom: 25px;
                font-size: 16px;
                font-family: "Cairo", sans-serif;
                color: #6f6f6f;
                font-weight: 400;
                line-height: 26px;
                margin: 0 0 15px 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .hero {
        &__categories {
            margin-bottom: 30px;
        }
        &__search {
            margin-bottom: 30px;
            &__form {
                width: 100%;
            }
            &__categories {
                display: none;
            }
            &__phone {
                float: left;
                margin-top: 30px;
            }
        }
        &__item {
            img {
                height: 100%;
            }
        }
    }
    .categories {
        .categories__slider {
            .owl-nav {
                text-align: center;
                margin-top: 40px;
                button {
                    position: relative;
                    left: 0;
                    top: 0;
                }
                .owl-next {
                    right: -10px
                }
            }
        }
    }
}